<!DOCTYPE html>
<html>
<head>
  <title>WebsocketRailsExample</title>
  <style type="text/css">

    #chat {
	  margin:0 auto;
	}
    #text_area {
      float:left;
      width:200px;
    }
    #user_area {
      float:left;
       width:200px;
    }
	#input_name_text {
		clear:left;
	}
  </style>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
